 ------
 Overview
 ------
 Brian Matthews
 ------
 2012-07-22
 ------

~~ Copyright 2012 Brian Matthews
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~     http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.


Overview

  The CRX Maven Plugin is responsible for collecting all the resources of a
  {{{http://code.google.com/chrome/extensions/index.html}Google Chrome Extension}} and packaging them into a signed
  CRX archive.

* Goals Overview

  * {{{./crx-mojo.html}crx:crx}} is the default goal invoked during the packaging phase for projects with a packaging
  type of crx. It builds the signed CRX archive.

* Usage

  Include the following plugin dependency in <project/> <build/> <plugins/> enable the use of the crx packaging.

+---------------------------------------+
      <plugin>
        <groupId>com.btmatthews.maven.plugins</groupId>
        <artifactId>crx-maven-plugin</artifactId>
        <version>${project.version}</version>
        <extensions>true</extensions>
      </plugin>
+---------------------------------------+

* Lifecycle

  The lifecycle for a Google Chrome Extension is as follows:

  * package - the sources in ./src/main/chrome are assembled in memory into a ZIP file format that is then signed and
   output in the Google Chrome Extension format with the extension .crx. This is the CRX archive.
  * install - the CRX archive is deployed to the user's local repository
  * deploy - the CRX archive file is deployed to the remote release or snapshot repository

* Security

  It is recommended that your private key not be included in your project sources and furthermore that it be password
  protected.

  You can specify the location of your private key and the password on you Maven command line setting the crxPEMFile
  and crxPEMPassword properties as follows:

+---------------------------------------+
  $ mvn -DcrxPEMFile=/export/home/bmatthews68/crx.pem -DcrxPEMPassword=SparkleAndFade install
+---------------------------------------+

  Or you can add them to your ~/.m2/settings.xml file as follows:

+---------------------------------------+
<settings>
  .
  <profiles>
    .
    <profile>
      <id>crx</id>
      <properties>
        <crxPEMFile>${user.home}/crx.pem</crxPEMFile>
        <crxPEMPassword>SparkleAndFade</crxPEMPassword>
      </properties>
    </profile>
    .
    .
  </profiles>
  .
  .
</settings>
+---------------------------------------+

  Also it is possible to password protect your the password.

* Example

  Given the following project directory structure placing the source artifacts from the sample Hello World project on
  the Google Chrome Extensions developer web site om the src/main/chrome sub-directory:

+---------------------------------------+
HelloWorld
+- pom.xml
+- src
|  +- main
|     +- chrome
|        +- manifest.json
|        +- icon.png
|        +- popup.html
|        +- popup.json
+- target
   +- HelloWorld-1.0.0-SNAPSHOT.crx
+---------------------------------------+

  Create the following pom.xml in the root folder of the project:

+---------------------------------------+
<project>
  <groupId>com.btmatthews.crx</groupId>
  <artifactId>HelloWord</artifactId>
  <version>1.0.0-SNAPSHOT</version>
  <packaging>crx</packaging>
  <build>
    <plugins>
      <plugin>
        <groupId>com.btmatthews.maven.plugins</groupId>
        <artifactId>crx-maven-plugin</artifactId>
        <version>${project.version}</version>
        <extensions>true</extensions>
      </plugin>
    </plugins>
  </build>
</project>
+---------------------------------------+

  Then executing mvn package will produce HelloWorld-1.0.0-SNAPSHOT.crx in the target folder.

+---------------------------------------+
mvn -DcrxPEMFile=~/crx.pem -DcrxPEMPassword=SparkleAndFade package
+---------------------------------------+

* Related links

  * {{{http://code.google.com/chrome/extensions/index.html}Google Chrome Extensions - Home}}

  * {{{http://code.google.com/chrome/extensions/devguide.html}Google Chrome Extensions - Developer's Guide}}
