 ------
 Usage
 ------
 Brian Matthews
 ------
 2012-07-19
 ------

~~ Copyright 2012 Brian Matthews
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~     http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.


Usage

  The following examples describe the basic usage of the CRX Maven
  Plugin.

* Use as part of a composite project

  You can use the CRX Maven Plugin as part of a composite project when the Google Chrome Extension is not the
  primary artifact that is being produced by the build.

+---------------------------------------+
<project>
  .
  <groupId>com.btmatthews.crx</groupId>
  <artifactId>HelloWorld</artifactId>
  <version>1.0.0-SNAPSHOT</version>
  <packaging>war</packaging>
  .
  .
  <build>
    .
    <plugins>
      .
      <plugin>
        <groupId>com.btmatthews.maven.plugins</groupId>
        <artifactId>crx-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <pemFile>...</pemFile>
          <pemPassword>...</pemPassword>
        </configuration>
      </plugin>
      .
    </plugins>
    .
  </build>
  .
  .
</project>
+---------------------------------------+

* Use as part of a standalone project

  You can use the CRX Maven Plugin in a standalone project where the Google Chrome Extension is the the primary
  artifact that is being produced by the build.

+---------------------------------------+
<project>
  .
  <groupId>com.btmatthews.crx</groupId>
  <artifactId>HelloWorld</artifactId>
  <version>1.0.0-SNAPSHOT</version>
  <packaging>crx</packaging>
  .
  .
  <build>
    .
    <plugins>
      .
      <plugin>
        <groupId>com.btmatthews.maven.plugins</groupId>
        <artifactId>crx-maven-plugin</artifactId>
        <version>${project.version}</version>
        <extensions>true</extensions>
        <configuration>
          <pemFile>...</pemFile>
          <pemPassword>...</pemPassword>
        </configuration>
      </plugin>
      .
    </plugins>
    .
  </build>
  .
  .
</project>
+---------------------------------------+

